body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: snow;
}

.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
}

header, form {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: large;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(233, 214, 138, 0.87);
  color: whitesmoke;
  text-shadow: 2px 2px 2px #0b0b0b;
  grid-column: 1 / span 2;
  padding: 10px 5px;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form input,
form textarea {
  margin-bottom: 10px;
  width: 300px;
}

nav,
article {
  height: 100%;
  padding: 10px;
  color:rgb(18, 29, 29);
  font-family: "Quintessential", serif;
  font-weight: 500;
  font-style: normal;
  font-size: large;
}

nav {
  background-image: url('../../docs/images/cozy.jpg');
  border: 3px dashed rgb(241, 231, 212);
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
}

article .date {
  font-style: italic;
}

article .body {
  white-space: break-spaces;
}

button {
  font-size: 15px;
  padding: 2px;
  margin: 2px;
  color: rgb(28, 84, 54);
  font-weight: 500;
  background-color: rgba(179, 242, 214, 0.274);
  box-shadow: 2px 2px grey;
}

.error {
  background-color: red;
  color: gold;
  padding: 5px;
}
